nav {
  /* min-width: 20px; */
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#root {
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* min-width: 20px; */
  max-width: 100%;
  width: 100%;
  /* margin: 0 auto; */
  padding: 1rem;
  text-align: center;
  /* align-items: center; */
}
body {
  width: 100%;
}

/* 
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  /* max-width: 100%; */
  width: 100%;
  padding-top: 100px;
  /* width: 100%; */
}

.articleCard {
  width: auto;
  border: 0.3rem solid #646cffaa;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

.avatar {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin-left: 10px;
}

.commentCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid #646cffaa;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

.commentCard img{
    display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  left: 100;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 10px;
}

.commentUser {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.commentBody {
  flex-grow: 1;
  margin-left: 0.2em;
}

h4 {
  word-break: break-all;
}

.userCard {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid #646cffaa;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

.userCard img {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  left: 100;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 10px;
}
usercard > * {
  flex: 1;
}

@media (max-width: 500px) {
  .userCard {
    flex-direction: column;
  }
  .commentCard{
    flex-direction: column;
  }
}

.topicCard {
  width: auto;
  border: 0.3rem solid #646cffaa;
  padding: 0.5rem;
  margin-top: 0.8rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

textarea {
  text-align: center;
  font-size: x-large;
  text-justify: center;
  width: 70%;
  /* height: 3em; */
  resize: vertical;
}
.commentForm {
  display: flex;
  justify-content: space-evenly;
}
.logotitle {
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.logotitle img {
  width: 3rem;
  height: auto;
}
.logotitle h3 {
  margin: 0;
}

.avatarNavbar p {
  margin: 0;
  padding: 0;
}

.avatarNavbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.avatarNavbar img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.navbarLinks h2 {
  margin: 0;
}

h2 {
  margin: 0;
}

select {
  text-align: center;
}

.interactions {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: center;
}
